@model server.Models.AuditionModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/profile.css" />
}

@section Scripts {
    <script src="~/js/ensemble.js" type="text/jsx">
    </script>
    <script>
        var profileType = "@Model.ViewType";
    </script>
}

<div class="container">
    <div class="row">
        <div id="profile" class="col-md-3">
            <img id="profPic" src="@Model.Ensemble.Pic_Url" />
            <div id="bio">
                @Model.Ensemble.Bio
            </div>
            <div id="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                @Model.Ensemble.City
            </div>
            <hr />
            <div id="ensembles">
                @foreach (var item in Model.Profiles)
                {
                    <Member data-id="@item.ProfileId" data-avatarURL="@item.Pic_Url" data-name="@item.First_Name @item.Last_Name" />
                }
            </div>
        </div>

        <div id="posts" class="col-md-9">
            <div class="row">
                <div class="col">
                    <h1 id="name">@Model.Ensemble.Ensemble_Name</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div id="audInfo" class="container bordered">
                    <div class="row">
                        <h2 id="name">We're looking for a new member!</h2>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <span class="bold">Position:</span>
                        </div>
                        <div class="col-xs-6">
                            @Model.Audition.Instrument.Instrument_Name
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="bold">Auditions begin:</span>
                        </div>
                        <div class="col-xs-6">
                            @Model.Audition.Open_Date
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="bold">Auditions close:</span>
                        </div>
                        <div class="col-xs-6">
                            @Model.Audition.Closed_Date
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="bold">Location:</span>
                        </div>
                        <div class="col-xs-6">
                            @Model.Audition.Audition_Location
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="bold">Description:</span>
                        </div>
                        <div class="col-xs-6">
                            @Model.Audition.Audition_Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

