@model server.Models.EnsembleDashModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link href="https://unpkg.com/react-tabs@3/style/react-tabs.css" rel="stylesheet">
    <link href="~/css/dash.css" rel="stylesheet" />
}

@section Scripts {
    <!--<script src="~/js/dash.js" type="text/jsx">
    </script>-->
    <!-- Load the react tabs component -->
    <script src="https://unpkg.com/prop-types/prop-types.js"></script>
    <script src="https://unpkg.com/react-tabs/dist/react-tabs.development.js"></script>

}

<div class="container">
    <div class="row">
        <h2>@Model.Ensemble.Ensemble_Name Dashboard</h2>
    </div>

    <div id="tabCC" class="row">

    </div>
    <!--Model.AuditionNumbers[Model.AuditionList[i].AuditionId]-->
</div>

<script type="text/jsx">
    const { Tabs, TabList, Tab, TabPanel } = ReactTabs;

    const Component = (
    <Tabs defaultIndex={1}>
        <TabList>
            <Tab>Previous Auditions</Tab>
            <Tab>Pending Auditions</Tab>
            <Tab>Manage Members</Tab>
        </TabList>

        <TabPanel>
            <p>
                <b>Mario</b> (<i>Japanese: マリオ Hepburn: Mario, [ma.ɾʲi.o]</i>) (<i>
                    English:
                    /ˈmɑːrioʊ/; Italian: [ˈmaːrjo]
                </i>) is a fictional character in the Mario video
                game franchise, owned by Nintendo and created by Japanese video game designer
                Shigeru Miyamoto. Serving as the company's mascot and the eponymous protagonist
                of the series, Mario has appeared in over 200 video games since his creation.
                Depicted as a short, pudgy, Italian plumber who resides in the Mushroom
                Kingdom, his adventures generally center upon rescuing Princess Peach from the
                Koopa villain Bowser. His younger brother and sidekick is Luigi.
            </p>
            <p>
                Source:{' '}
                <a href="https://en.wikipedia.org/wiki/Mario" target="_blank">
                    Wikipedia
                </a>
            </p>
        </TabPanel>

        <TabPanel>
            <div class="container">
                <div class="row">
                    <h2>Auditions</h2>
                </div>
                <div class="row">
                    <table class="table nonfluid-table">
                        <tr>
                            <th>Instrument</th>
                            <th>Date Posted</th>
                            <th>Closing Date</th>
                            <th>Number Applicants</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        @for (var i = 0; i < Model.AuditionList.Count; i++)
                        {
                            <tr>
                                <td>@Model.AuditionList[i].Instrument_Name</td>
                                <td>@Model.AuditionList[i].Open_Date</td>
                                <td>@Model.AuditionList[i].Closed_Date</td>
                                <td>NotCalculated</td>
                                <td><span class="glyphicon glyphicon-pencil"></span></td>
                                <td><span class="glyphicon-remove"></span></td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="profiles" class="row">

                </div>
            </div>
        </TabPanel>

        <TabPanel>
            <div class="container">
                <div class="row">
                    <h2>Members</h2>
                </div>
                <div class="row">
                    <table class="table nonfluid-table">
                        <tr>
                            <th>Name</th>
                            <th>Instrument</th>
                            <th>Date Joined</th>
                            <th>Remove</th>
                        </tr>

                        @foreach (var mem in Model.Members)
                        {
                            <tr>
                                <td>@mem.Profile.First_Name @mem.Profile.Last_Name</td>
                                <td>How do we display mulitple entries? Is this necessary?</td>
                                <td>@mem.Start_Date</td>
                                <td><span class="glyphicon-remove"></span></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </TabPanel>
    </Tabs>
    );


    ReactDOM.render(Component,
    document.getElementById('tabCC')
    );
</script>


