

@model server.Models.ProfileModel

@{
    ViewData["Title"] = "Edit";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/create.css" />
}

<h2>Edit</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.ProfileId" />
            <div class="form-group">
                <label asp-for="Profile.First_Name" class="control-label"></label>
                <input asp-for="Profile.First_Name" class="form-control" />
                <span asp-validation-for="Profile.First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Last_Name" class="control-label"></label>
                <input asp-for="Profile.Last_Name" class="form-control" />
                <span asp-validation-for="Profile.Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Preferred_Name" class="control-label"></label>
                <input asp-for="Profile.Preferred_Name" class="form-control" />
                <span asp-validation-for="Profile.Preferred_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Plays_Instrument" class="control-label"></label>
                <span asp-validation-for="Profile.Plays_Instrument" class="text-danger"></span>
                <div name="pInstruments" id="instruments" class="form-control">
                    @{ List<int> checklist = new List<int>(); }
                    @foreach (var pins in Model.Profile.Plays_Instrument)
                    {
                        Console.WriteLine("HERE0");
                        Console.WriteLine(pins.InstrumentId);
                        checklist.Add(pins.InstrumentId);
                    }
                    @{Console.WriteLine("HERE"); }
                    @{Console.WriteLine(checklist.Count); }
                    @foreach (var ins in Model.Instruments)
                    {

                        if (checklist.Contains(ins.InstrumentId))
                        {
                            Console.WriteLine("HERE1");
                            Console.WriteLine(ins.Instrument_Name);
                            <label for="@ins.Instrument_Name" class="checkLabel">
                                @ins.Instrument_Name
                                <input id="@ins.Instrument_Name" name="@ins.Instrument_Name" type="checkbox" onchange="changeCheck(this)" checked/>
                            </label>
                        }
                        else
                        {
                            Console.WriteLine("HERE2");
                            <label for="@ins.Instrument_Name" class="checkLabel">
                                @ins.Instrument_Name
                                <input id="@ins.Instrument_Name" name="@ins.Instrument_Name" type="checkbox" onchange="changeCheck(this)" />
                            </label>
                        }


                    }
                </div>
            </div>
            @*@foreach(Plays_Instrument pi in Model.Profile.Plays_Instrument) { @pi.Instrument.Instrument_Name }*@
            <div class="form-group">
                <label asp-for="Profile.Pic_Url" class="control-label"></label>
                <input asp-for="Profile.Pic_Url" class="form-control" />
                <span asp-validation-for="Profile.Pic_Url" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
