
    
@model server.Models.ProfileModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Profile.ProfileId" />
            <div class="form-group">
                <label asp-for="Profile.First_Name" class="control-label"></label>
                <input asp-for="Profile.First_Name" class="form-control" />
                <span asp-validation-for="Profile.First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Last_Name" class="control-label"></label>
                <input asp-for="Profile.Last_Name" class="form-control" />
                <span asp-validation-for="Profile.Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Preferred_Name" class="control-label"></label>
                <input asp-for="Profile.Preferred_Name" class="form-control" />
                <span asp-validation-for="Profile.Preferred_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Plays_Instrument" class="control-label"></label>
                <span asp-validation-for="Profile.Plays_Instrument" class="text-danger"></span>
                @if (Model.Profile.Plays_Instrument.Count() == 0)
                {
                    <h1>TYLER - DROPDOWN HERE</h1>
                    <input asp-for="Profile.Plays_Instrument" class="form-control" />
                }

                @foreach (Plays_Instrument pi in Model.Profile.Plays_Instrument)
                {
                    <input type="checkbox" name="@pi.Instrument.Instrument_Name" value="@pi.Instrument.Instrument_Name"><br>
                }
                @foreach (Instrument i in Model.Instruments)
                {
                    <input type="checkbox" name="@i.Instrument_Name" value="@i.Instrument_Name"><br>

                }
            </div>
            @*@foreach(Plays_Instrument pi in Model.Profile.Plays_Instrument) { @pi.Instrument.Instrument_Name }*@
            <div class="form-group">
                <label asp-for="Profile.Pic_Url" class="control-label"></label>
                <input asp-for="Profile.Pic_Url" class="form-control" />
                <span asp-validation-for="Profile.Pic_Url" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
