@model server.Models.ProfileModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/post.css" />
}

@section Scripts {

    <script src="~/js/ensemble.js" type="text/jsx">
    </script>
    <script src="~/js/posts.js" type="text/jsx">
    </script>
    <script>
        var profileType = "@Model.ViewType";
    </script>
}

<div class="container">
    <div class="row">
        <div id="profile" class="col-md-3">
            <img id="profPic" src="@Model.Profile.Pic_Url" />

            @if (Model.isOwner == true)
            {
                <div class="row" style="max-width:250px">
                    <div class="col-xs-6">
                        <a class="btn btn-warning btn-option" asp-action="EditProfile" asp-route-id="@Model.Profile.ProfileId">Edit</a>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
            }

            <div id="bio">
                @Model.Profile.Bio
            </div>
            <div id="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                @Model.Profile.City
            </div>
            <hr />
            <div id="ensembles">
                @foreach (var item in Model.Ensembles)
                {
                    <Member data-id="@item.EnsembleId" data-avatarURL="@item.Pic_Url" data-name="@item.Ensemble_Name" />
                }
            </div>
        </div>

        <div id="posts" class="col-md-9">
            <div class="row">
                <div class="col">
                    <h1 id="name">@Model.Profile.First_Name @Model.Profile.Last_Name</h1>

                    @if (Model.isOwner == true)
                    {
                        <div id="createPost" class="container">
                            <form class="row" asp-action="CreatePost" enctype="multipart/form-data">
                                <div class="col-xs-1">
                                    <img class="tinyPic" src="@Model.Profile.Pic_Url" />
                                </div>
                                <div style="display:none">
                                    <input name="PosterType" type="text" value="profile" />
                                    <input name="Type" type="text" value="post" />
                                    <input name="PosterIndex" type="text" value="@Model.Profile.ProfileId" />
                                </div>

                                <div class="col-xs-11">
                                    <textarea name="Text" class="inputPost" type="text" placeholder="Update your audience..."></textarea>

                                    <div id="postButtons" class="form-group">
                                        <button class="btn btn-primary">Post</button>
                                        <label class="btn btn-secondary">Attach Media <input asp-for="File" name="File" type="file" hidden /> </label>

                                    </div>

                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div id="postCC" class="col">
                    @foreach (var p in Model.Posts)
                    {

                        @if (p.Type == "gig")
                        {
                            <Post data-username="@Model.Profile.First_Name @Model.Profile.Last_Name" data-type="@p.Type" data-avatar="@Model.Profile.Pic_Url" data-hasmedia="@false" data-text="@p.Text" />
                        }
                        else if (p.Type == "aud")
                        {
                            <Post data-username="@Model.Profile.First_Name @Model.Profile.Last_Name" data-type="@p.Type" data-avatar="@Model.Profile.Pic_Url" data-hasmedia="@false" data-text="@p.Text" />
                        }
                        else
                        {
                            if (p.MediaType != null)
                            {
                                <Post data-username="@Model.Profile.First_Name @Model.Profile.Last_Name" data-type="@p.Type" data-avatar="@Model.Profile.Pic_Url" data-text="@p.Text" data-hasmedia="@true" data-mediaurl="@p.MediaUrl" data-mediatype="@p.MediaType" />
                            }
                            else
                            {
                                <Post data-username="@Model.Profile.First_Name @Model.Profile.Last_Name" data-type="@p.Type" data-avatar="@Model.Profile.Pic_Url" data-text="@p.Text" data-hasmedia="@false" />
                            }
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.isOwner == true)
{
    @* Only owners should be able to see the "createModal" *@

    @* If the profile is an profile, then we want to create ensembles *@
    <div id="createModal" class="modal">

        <div class="modal-content">
            <span class="close" onclick="hideModal()">&times;</span>
            <form asp-controller="Home" asp-action="CreateEnsembleModal" method="post" class="container-fluid">
                <div style="display:none">
                    <input name="userID" type="text" value="@Model.Profile.UserId" />
                </div>
                <h2 style="text-align:center;font-weight:bold;">Form a Group!</h2>
                <hr />
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eName">Name<span class="red-ast">*</span></label>
                        <input type="text" class="form-control" name="eName" placeholder="Enter the name of the group" required />
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="eFormed">Formed<span class="red-ast">*</span></label>
                                <input type="date" name="eFormed" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="eDisbanded">Disbanded</label>
                                <input type="date" name="eDisbanded" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="eGenre">Genre<span class="red-ast">*</span></label>
                                <input type="text" class="form-control" name="eGenre" placeholder="Jazz, Punk Rock, Symphony etc.." required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="eType">Group Type<span class="red-ast">*</span></label>
                                <input type="text" name="eType" class="form-control" placeholder="Brass Band, Jazz Combo, Cover Band etc..." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="eCity">City<span class="red-ast">*</span></label>
                                <input type="text" name="eCity" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="eState">State<span class="red-ast">*</span></label>
                                <input type="text" name="eState" class="form-control" required />

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <button style="width:50%;font-size:20px;" class="btn btn-danger center-block">Create Group</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eBio">Ensemble Bio</label>
                        <textarea id="desc" name="eBio" class="form-control" placeholder="Tell us about you!"></textarea>
                    </div>
                </div>
            </form>

        </div>

    </div>
}

