
@model server.Models.SearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class=sidenav>
        <button onclick=show("audquery")>Auditions (@Model.AuditionCount)</button>
        <button onclick=show("gigquery")>Gigs (@Model.GigCount)</button>
        <button onclick=show("profquery")>Profiles (@Model.ProfileCount)</button>
        <button onclick=show("ensquery")>Ensembles (@Model.EnsembleCount)</button>
        <button onclick=show("venquery")>Venues (@Model.VenueCount)</button>
    </div>

    <h1>Query Results</h1>
    <div id="queryresults">
        <ul id="audquery">
            @foreach (var aud in Model.Auditions)
            {
                <li><a href="../Home/Audition/@aud.AuditionId">@aud.Audition_Description </a></li>
            }
        </ul>
        <ul id="gigquery">
            @foreach (var gig in Model.Gigs)
            {
                <li><a href="../Home/Gig/@gig.GigId">@gig.Description</a></li>
            }
        </ul>

        <ul id="profquery">
            @foreach (var p in Model.Profiles)
            {
                <li><a href="../Home/Profile/@p.ProfileId">@p.First_Name @p.Last_Name</a></li>
            }
        </ul>

        <ul id="ensquery">
            @foreach (var e in Model.Ensembles)
            {
                <li><a href="../Home/Ensemble/@e.EnsembleId">@e.Ensemble_Name</a></li>
            }
        </ul>

        <ul id="venquery">
            @foreach (var v in Model.Venues)
            {
                <li><a href="../Home/Venue/@v.VenueId">@v.Venue_Name</a></li>
            }
        </ul>
    </div>
</div> 

<script>
    var searchbar = document.getElementById("searchbar")
    searchbar.value = "@Model.Query"

    var result_ids = ["audquery", "gigquery", "profquery", "ensquery", "venquery"];

    function show(id) {
        for (i = 0; i < result_ids.length; i++) {
            results = document.getElementById(result_ids[i]);
            if (id==result_ids[i]) {
                results.style.display = "";
            } else {
                results.style.display = "none"
            }
        }
    }

    //display the query category with the highest count
    var result_counts = [@Model.AuditionCount, @Model.GigCount, @Model.ProfileCount, @Model.EnsembleCount, @Model.VenueCount]
    var index = 0;
    var max = 0;
    for (i = 0; i < result_counts.length; i++) {
        if (result_counts[i] > max) {
            max = result_counts[i];
            index = i;
        }
    }
    show(result_ids[index]);     
           
</script>

<style>
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
        .sidenav button {
            padding: 8px 16px 8px 16px;
            width: 100%;
            text-decoration: none;
            font-size: 25px;
            display: block;
            transition: 0.3s;
            border: none;
            background: #2EC4B6;
            color: white;
        }

    /* When you mouse over the navigation links, change their color */
    .sidenav button:hover {
        color: #E71D36;
    }
    .sidenav button:active {
        color: #E71D36;
    }

    #queryresults li {
        list-style: none;
    }
    #queryresults li a {
        color: black;
    }
</style>
