
@model server.Models.SearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Auditions</h1>

    @foreach (var aud in Model.Auditions)
    {
        <p>@aud.Audition_Description </p>
    }

    <h1>Gigs</h1>
    @foreach (var gig in Model.Gigs)
    {
        <p>@gig.Description</p>
    }
    <h1>Profiles</h1>
    @foreach (var p in Model.Profiles)
    {
        <p>@p.First_Name @p.Last_Name</p>
    }
    <h1>Ensembles</h1>
    @foreach (var e in Model.Ensembles)
    {
        <p>@e.Ensemble_Name</p>
    }
    <h1>Venues</h1>
    @foreach (var v in Model.Venues)
    {
        <p>@v.Venue_Name</p>
    }
</div> 
