
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/venue.css" />
    <link rel="stylesheet" href="~/css/post.css" />
}

@section Scripts {
    <script src="~/js/posts.js" type="text/jsx">
    </script>
}

<div class="container-fluid">
    <div class="row">
        <img id="banner" src="~/images/banner3.svg" alt="@Model.Venue.Venue_Name" />
    </div>
    <div class="row">
        <div id="profile" class="col-xs-3">
            <h1 id="name">@Model.Venue.Venue_Name</h1>
            <hr />
            <div id="bio">
                @Model.Venue.Bio
            </div>
            <hr />
            <table id="info">
                <tr>
                    <td>Phone:</td>
                    <td>@*@Model.Venue.Phone*@</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        @Model.Venue.Address1 <br />
                        @Model.Venue.Address2 <br />
                        @Model.Venue.City, @Model.Venue.State
                    </td>
                </tr>
                <tr>
                    <td>Website:</td>
                    <td><a href=@*@Model.Venue.Website*@>@Model.Venue.Venue_Name</a></td>
                </tr>
            </table>
            @if (Model.IsOwner == true)
            {
                <button style="width:100%;" class="btn btn-warning" onclick="showModal()">Create a Gig</button>
            }
        </div>

        <div id="posts" class="col-xs-9">
            <div class="row">
                @if (Model.IsOwner == true)
                {
                    <div id="createPost" class="container">
                        <form class="row" asp-action="CreatePost">
                            <div class="col-xs-1">
                                <img class="tinyPic" src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP__7uhYffAhWhmeAKHSsYCPoQjRx6BAgBEAU&url=https%3A%2F%2Fwww.facebook.com%2Funclemartysinc%2F&psig=AOvVaw33ofUSp-_HCNUuBjlmOwzx&ust=1544042803984002" />
                            </div>

                            <div style="display:none">
                                <input name="PosterType" type="text" value="venue" />
                                <input name="Type" type="text" value="post" />
                                <input name="PosterIndex" type="text" value="@Model.Venue.VenueId" />
                            </div>

                            <div class="col-xs-11">
                                <textarea name="Text" class="inputPost" type="text" placeholder="Update your audience..."></textarea>

                                <div id="postButtons" class="form-group">
                                    <button class="btn btn-primary">Post</button>
                                    <label class="btn btn-secondary">
                                        Attach Media <input type="file" hidden>
                                    </label>
                                </div>

                            </div>
                        </form>
                    </div>
                }
            </div>

            <div class="row">
                <hr />
            </div>

            <div id="postCC" class="row">
                @foreach (var p in Model.Posts)
                {

                    @if (p.Type == "gig")
                    {
                        <Post data-username="@Model.Venue.Venue_Name" data-type="@p.Type" data-avatar="@Model.Venue.Pic_Url" data-hasmedia="@false" data-text="@p.Text" />
                    }
                    else if (p.Type == "aud")
                    {
                        <Post data-username="@Model.Venue.Venue_Name" data-type="@p.Type" data-avatar="@Model.Venue.Pic_Url" data-hasmedia="@false" data-text="@p.Text" />
                    }
                    else
                    {
                        if (p.MediaType != null)
                        {
                            <Post data-username="@Model.Venue.Venue_Name" data-type="@p.Type" data-avatar="@Model.Venue.Pic_Url" data-text="@p.Text" data-hasmedia="@true" data-mediaurl="@p.MediaUrl" data-mediatype="@p.MediaType" />
                        }
                        else
                        {
                            <Post data-username="@Model.Venue.Venue_Name" data-type="@p.Type" data-avatar="@Model.Venue.Pic_Url" data-text="@p.Text" data-hasmedia="@false" />
                        }
                    }

                }
            </div>
        </div>

        @if (Model.IsOwner == true)
        {

            <div id="createModal" class="modal">

                <div class="modal-content">
                    <span class="close" onclick="hideModal()">&times;</span>
                    <form asp-controller="Home" asp-action="CreateGig" method="post" class="container-fluid">
                        <h2 style="text-align:center;font-weight:bold;">Got a gig?</h2>
                        <hr />
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="start_date">Start Date<span class="red-ast">*</span></label>
                                        <input type="date" name="start_date" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="end_date">End Date</label>
                                        <input type="date" name="end_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <small class="form-text text-muted">
                                    If the gig has no difinitive end date, you need not include one here.
                                </small>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="time">Time<span class="red-ast">*</span></label>
                                        <input type="time" name="time" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="repeat">Is this a repeating gig?<span class="red-ast">*</span></label><br />
                                        <input type="radio" name="repeat" value="Yes" title="Weekly event etc.." /> Yes<br />
                                        <input type="radio" name="repeat" value="No" title="One-time or sporatic event" /> No<br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="type">What kind of entertainment are you looking for?<span class="red-ast">*</span></label>
                                    <input type="text" name="type" class="form-control" placeholder="Cover Band, Jazz Combo etc..." required />
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <button style="width:50%;font-size:20px;" class="btn btn-danger center-block">Post Gig</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="description">Gig Description</label>
                                <textarea id="desc" name="description" class="form-control" placeholder="Prepared materials, contact information etc..."></textarea>
                                <small class="form-text text-muted">Some useful information to include might be ways to sign up for the gig; Who to contact; If it is a regularly scheduled event etc...</small>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        }
    </div>
</div>